{% extends "base.html.twig" %}

{% block body %}
	<h1>Bienvenue</h1>
	<p>
		Ce mini-projet a des vertues de test technique de recrutement pour
		<a href="https://www.tld-group.com/fr/">
			<img class="inline-logo" src="{{ asset('img/logo.png') }}" alt="TLD Group">
		</a>
	</p>
{% endblock %}
